@media screen and (max-width:1000px){
    body{
        background-color: red;
    }
    header{
        height: 30vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about {
        height: 10vh;
        display: flex;
        width: 100vw;
        align-items: center;
        margin: 0px 0px 0px 25vw;
      }
      .amit {
        margin: 0px 0px 0px 150px;
        
      }
      .search {
        margin: 0px 0px 0px 235px;
      }
      .h {
        margin: 0px 0px 0px 150px;
        cursor: progress;
      }
    .flipkart{
        justify-content: center;
        margin: auto;
    }
    .d {
       
        margin: 0px 55px 0px 55px;
      }
      .s{
        margin: 0px 55px 0px 55px;
      }
    .p{
        display: flex;
        flex-wrap: wrap;
        /* align-content: center; */
    }
    .s{
        display: flex;
        flex-wrap: wrap;
        /* align-content: center; */
    }
}

